*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;

}

.wrapper{
    width: 100vw;
    height: 100vh;
}
.box-left{

    display: inline-block;
    margin-left: 136px;
    margin-top: 361px;
    width: 60%;

}

.box-right{
    height: 100vh;
    display: inline-block;
    width: 40%;
    position: absolute;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: #5D5D7D;
    background-color: rgba(93, 93, 125, 0.16);
}

h1{

    width: 368px;
    height: 160px;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
}

p{
    width: 540px;
    height: 144px;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color:#5D5D7D;
    opacity: 60%;
    margin-top: 20px;

}

button{

    width: 269px;
    height: 62px;
    color: #FFFFFF;
    border-radius: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    background-color: #9499EA;
    border: none;
    margin-top: 120px;

}
img{

    position: relative;
    right: 134px;
    margin-top: 250px;
}

.header-menu{

    margin-right: 41px ;
}

    @media screen and (max-width: 900px){

        .box-right{
            display: block;
            width: auto;
            margin: 0;
            padding: 0;
            height: 50%;
            position: static;

            
        }

        .box-left{

            display: block;
            display: block;
            margin: auto;
            padding: 0;
            font-size: 42px;
            height: 50%;
        }
        
        .header-menu{
            display: none;
        }

        h1{
            width: auto;
            height: 104px;
            font-size: 36px;
            line-height: 52px;
            text-align: center;
            position:static;
        }

        p{
            width: auto;
            height: 96px;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
        }

        bottom{
            
            
            width: 269px;
            height: 62px;
            

        }

        img{
            margin: 0;
            padding: 0;
            width: 250px;
            position: sticky;
            padding: 41px 52px;
            
           
            
            
        }
    }